<h1>{{ title }}</h1>

<div class="app-ver-div">

    <ul class="listUser">

        <li *ngFor="let user of userList">
            {{ user }}
        </li>
    </ul>

    <div class="app-hor-div">

        <ul class="msgList">

            <li *ngFor="let msg of msgList">

                <h3 *ngIf="msg != undefined">
                    {{ msg.user }} -
                    <span class="litle-text">{{ msg.date | date }}</span>
                </h3>

                <p>{{ msg.message }}</p>
            </li>
        </ul>

        <div class="sendMsg">
            <h2>Nouveau message :</h2>

            <form (submit)="sendMsg()">

                <label for="user">De</label>
                <input type="text" name="user" [(ngModel)]="senderUser">
                
                <label for="message">Message</label>
                <input type="text" name="message" [(ngModel)]="messageSent">

                <div>
                    <button type="submit">Envoyer</button>
                    <button type="reset">Annuler</button>
                </div>
            </form>
        </div>
    </div>
</div>
